/* polyADB page sidebar CSS */

#content-filter {
	overflow: hidden;
	position: relative;
	padding: 0px 5px;
	z-index: 1000;
	height: 100%;
	min-height: 100%;
	background-color: #efefef;	
	border-right: 1px solid #4a4a4a;
	float: left;
	width: 20%;
	display: inline-block;
}

#content-filter h1 {
    font-size: 16px;
    padding-top: 7px;
    text-align: center;
}

#content-filter h2 {
    font-size: 14px;
    padding-top: 7px;
    text-align: center;
}

#content-filter a {
    text-decoration: underline;
    color: white;
}

#content-filter a:hover {
    color: #5AC134;
}

#tabs {
	margin:5px;
}

div.filterblockHelpText {
	padding-top:5px;
	padding-bottom:5px;
	padding-left:15px;
	padding-right:10px;
	text-align:justify;
}

.exampleiconcell {
	display:inline-block;
	text-decoration: none;
	border-right: 2px solid white;
	background-color: #5AC134;
	height:100%;
	width:24px;
}

.exampletextcell {
	padding-left:5px;
}

.subtabs a {
    text-decoration: underline;
    color: white;
}

.subtabs a:hover {
    color: #4a4a4a;
}

img.igblaunch {
	padding: 0px;
	padding-top: 4px;
	padding-left: 2px;
	width: 20px;
	height: 20px;
	float: left;
}
