almostSignificant/static/almostSignificant/jquery* linguist-vendored
almostSignificant/static/almostSignificant/jQuery* linguist-vendored
almostSignificant/static/almostSignificant/d3* linguist-vendored
