{% extends "baseAjax.html" %}

{% block scripts %}
{% endblock %}

{% block title %}
    AlmostSignificant
{% endblock %}

{% block version %}
    v{{ v }}
{% endblock %}

{% block detailsTitle %}
	{{ detailsName }}
{% endblock %}

{% block detailsStats %}
	<p id="statDetail">Reads: {{ numberOfReads }}m</p>	
	<p id="statDetail">Bases: {{ Gbases }}Gb</p>	
	<p id="statDetail">Samples: {{ samples }}</p>
	<p id="statDetail">Machine: {{ machine }} ({{ machineType }})</p>	
{% endblock %}


{% block docreadyscripts %}
    loadRunTable("dataset_table");
{% endblock %}

{% block other-content %}
    <div id="content-table">
        <table cellpadding="5px" cellspacing="0" border="0" id="dataset_table" class="display">
        </table>
    </div>
{% endblock %}

{% block filters %}
{% endblock %}
